<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no seu Meetup sobre: {{ meetup }}</p>
<p>Dados do Inscrito</p>
<p>
  <strong>Nome: </strong> {{ name }}<br />
  <strong>E-mail: </strong> {{ email }}<br />
  <br />
  <small>Lembrando que você marcou este Meetup para {{ date }}</small>
</p>
